#container {
	width: 800px;
	margin: 0 auto;
}
#gifs {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 500px;
	margin:0 auto;
	padding-top: 3em;
}

#gifs img {
    width:200px;
	height:150px;
	display:inline-block;
	margin: 10px;
	box-sizing: border-box;

}
